<body>

  <!-- ======= Header ======= -->


  <!-- ======= Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{{_format.vi.order}} - {{status}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item" style="cursor: pointer;"><a href="index.html">{{_format.vi.home}}</a></li>
          <li class="breadcrumb-item active" style="cursor: pointer;">{{_format.vi.order}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" (click)="changePage('ordered',1)">
      <label class="btn btn-outline-primary" for="btnradio1">{{_format.vi.ordered}}</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="changePage('processing',1)">
      <label class="btn btn-outline-primary" for="btnradio2">{{_format.vi.processing}}</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="changePage('delivered',1)">
      <label class="btn btn-outline-primary" for="btnradio3">{{_format.vi.delivered}}</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" (click)="changePage('completed',1)">
      <label class="btn btn-outline-primary" for="btnradio4">{{_format.vi.completed}}</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" (click)="changePage('cancelled',1)">
      <label class="btn btn-outline-primary" for="btnradio5">{{_format.vi.cancelled}}</label>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-body rounded">


      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>{{_format.vi.order_id}}</th>
            <th>{{_format.vi.customer_id}}</th>
            <th>{{_format.vi.total}}</th>
            <th>{{_format.vi.order_date}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of order_list" [routerLink]="['/order/detail/',o._id]">
            <td>{{o._id}}</td>
            <td>{{o.customer_id}}</td>
            <td>{{o.total}}</td>
            <td>{{o.date | date:"dd/MM/yyyy"}}</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example" style="width: fit-content; margin: auto;">
        <ul class="pagination">
          <!-- create number of page equal to page -->
          <li class="page-item"><a class="page-link" (click)="previousPage()" style="cursor: pointer;"><<</a></li> <!-- Chuyển về trang trước-->
          <li class="page-item" *ngFor="let p of page" [class.active]="p==current_page" style="cursor: pointer;">
            <a class="page-link" (click)="changePage(status,p)">{{p}}</a></li>
            <li class="page-item"><a class="page-link" (click)="nextPage()" style="cursor: pointer;">>></a></li> <!-- Chuyển về trang trước-->
        </ul>
      </nav>
    </div>




  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </footer><!-- End Footer -->

</body>
