<body>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Coupon</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item" [routerLink]="['/']"><u>Home</u></li>
          <li class="breadcrumb-item" [routerLink]="['/coupon']">Coupon</li>
          <li class="breadcrumb-item active">Update</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <h3>Update coupon</h3>
      <form (ngForm)="updateCoupon()">
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">{{_format.vi.name}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="name" name="name" [ngModel]="coupon.title">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">
            {{_format.vi.coupon}}
          </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="coupon" name="coupon" [ngModel]="coupon.coupon_code">
          </div>
        </div>


        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">{{_format.vi.is_active}}</label>
          <div class="col-sm-10">
            <select id="is_active" name="is_active" class="form-control" required [(ngModel)]="coupon.is_active">
              <option value="" selected disabled>-- Chọn trạng thái --</option>
              <option value="true" [selected]="coupon.is_active === 'true'">Hiệu lực</option>
              <option value="false" [selected]="coupon.is_active === 'false'">Không hiệu lực</option>
            </select>
            
          </div>
        </div>

        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">
            {{_format.vi.used}}
          </label>
          <div class="col-sm-10">
            <input class="form-control" type="number" id="used" name="used" [ngModel]="coupon.quantity.used" required
              disabled>
          </div>
        </div>
        
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">
            {{_format.vi.all}}
          </label>
          <div class="col-sm-10">
            <input class="form-control" type="number" id="all" name="all" [ngModel]="coupon.quantity.all" required
              disabled>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="discount" class="col-sm-2 col-form-label">
            {{_format.vi.discount}}
          </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="discount" name="discount" [ngModel]="coupon.value">
          </div>
        </div>


        <div class="row">
          <div class="col">
            <label for="date" class="form-label">
              {{_format.vi.valid_from}}
            </label>

            <input class="form-control" type="date" id="valid_from" name="valid_from"
              [ngModel]="coupon.valid_from | date:'yyyy-MM-dd'" (ngModelChange)="coupon.valid_from = $event">
          </div>
          <div class="col">
            <label for="date" class="form-label">
              {{_format.vi.valid_to}}
            </label>
            <input class="form-control" type="date" id="valid_to" name="valid_to"
              [ngModel]="coupon.valid_to | date:'yyyy-MM-dd'" (ngModelChange)="coupon.valid_to = $event">
          </div>
        </div>
        <div>
        <button class="mt-3 form-control btn btn-success" (click)="updateCoupon()">{{_format.vi.add_coupon}}</button>
        </div>
      </form>

    </div>
  </main><!-- End #main -->
  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i>
  </a> -->
</body>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->