<body>

  <!-- ======= Header ======= -->


  <!-- ======= Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{{_format.vi.coupon}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item" style="cursor: pointer;" [routerLink]="['/']"><u>{{_format.vi.home}}</u></li>
          <li class="breadcrumb-item active">{{_format.vi.coupon}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div style="width: fit-content; margin: auto;">
        <button class="btn btn-success" [routerLink]="['/coupon/new']">{{_format.vi.add_coupon}}</button>
      </div>
      <h3>{{_format.vi.list_coupon}}</h3>
      <table class="table table-hover">
        <thead class="bg-dark text-white text-center">
          <tr>
            <!-- <th class="col-md-1">{{_format.vi.id}}</th> -->
            <th class="col-md-2">{{_format.vi.coupon}}</th>
            <th class="col-md-2">{{_format.vi.name}}</th>
            <th class="col-md-2">{{_format.vi.is_active}}</th>
            <th class="col-md-2">{{_format.vi.used}}</th>
            <th class="col-md-0">{{_format.vi.all}}</th>
            <th class="col-md-1">{{_format.vi.discount}}</th>
            <th class="col-md-1">{{_format.vi.valid_from}}</th>
            <th class="col-md-1">{{_format.vi.valid_to}}</th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of coupon" [routerLink]="['/coupon/update/', c._id]" style="cursor: pointer;" class="text-center">
            <!-- <td class="col-md-1">{{_format.shortenObjectId(c._id)}}</td> -->
            <td class="col-md-2">{{c.coupon_code}}</td>
            <td class="col-md-2">{{c.title}}</td>
            <td class="col-md-2 text-center">
              <button [class]="_format.styleButtonActiveStatus(c.is_active)">{{_format.couponActiveStatus(c.is_active)}}</button>
              </td>
            <td class="col-md-2 text-center">{{c.quantity.used}}</td>
            <td class="col-md-0">{{c.quantity.all}}</td>
            <td class="col-md-1">{{_format.couponTypeFormat(c.is_percentage, c.value)}}</td>
            <td class="col-md-1">{{_format.formatDate(c.valid_from)}}</td>
            <td class="col-md-1">{{_format.formatDate(c.valid_to)}}</td>
            <td class="col-md-2 container">
              <button type="button" class="btn btn-danger">{{_format.vi.delete}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main><!-- End #main -->

  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i>
  </a> -->
</body>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->
