<body>

  <!-- ======= Header ======= -->


  <!-- ======= Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Product</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Product</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div style="width: fit-content; margin: auto;">
      <button class="btn btn-primary" style="margin: 5px;" [routerLink]="['/product/add']">Add</button>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <table class="table table-hover" style="width: 100%;">
        <thead>
          <tr style="width: fit-content;">
            <td>ID</td>
            <td style="width: 300px;">Name</td>
            <td>Image</td>
            <td>Price (VND)</td>
            <td>*</td>
          </tr>
        </thead>
        <tbody>
          <tr style="width: fit-content;">
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td style="width: fit-content;">
              <button class="btn btn-primary"  style="margin: 5px;"  [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
          <tr>
            <td>TP1</td>
            <td>Cát phục</td>
            <td><img src='data:image/jpeg;base64,{{imagePath}}' style="width: 100px; height: 100px; object-fit: cover;"/></td>
            <td>20000000</td>
            <td>
              <button class="btn btn-primary"  style="margin: 5px;" [routerLink]="['/product/id']">Edit</button>
              <button class="btn btn-danger"  style="margin: 5px;">Delete</button>
              <button class="btn btn-success"  style="margin: 5px;">Preview</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>



  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
