<body>

  <!-- ======= Header ======= -->


  <!-- ======= Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Product</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Product</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div style="width: fit-content; margin: auto;">
      <button class="btn btn-primary" style="margin: 5px;" [routerLink]="['/product/add']">Add</button>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <table class="table table-hover" style="width: 100%;">
        <thead>
          <tr style="width: fit-content;">
            <td>ID</td>
            <td style="width: 300px;">Name</td>
            <td>Image</td>
            <td>Price (VND)</td>
            <td>*</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of product_list">
            <td>{{p.product_id}}</td>
            <td>{{p.name}}</td>
            <td><img src="{{p.image}}" alt="" style="width: 100px;"></td>
            <td>{{p.price}}</td>
            <td>
              <button class="btn btn-success" [routerLink]="['/product/',p._id]">Modify</button>
              <button class="btn btn-danger" (click)="confirmDelete(p._id)">Delete</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>



  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

</body>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->
